## UMKM dan Hasil Bumi
    berdasarkan Kabupaten/Kota Provinsi Jawa Barat

Team members : 
1. Afifah Qurrota-A'yun  
2. Andika Kristianto  
3. Tamara Coglitore

### Library

In [17]:
# Import Library
import pandas as pd
import sys
import warnings
if not sys.warnoptions:
    warnings.simplefilter("ignore")

### Background

**Context**
  
UMKM sebagai penyangga ekonomi daerah menyikapi prediksi resesi 2023 dengan memperbanyak jumlah UMKM yang sesuai dengan potensi hasil bumi suatu wilayah serta mengoptimalisasi UMKM dengan digitalisasi UMKM agar pertumbuhan ekonomi daerah terjaga.

World Bank memprediksi ekonomi global akan terancam resesi yang disebabkan oleh kenaikan suku bunga oleh bank sentral seluruh dunia. Resesi merupakan istilah ekonomi yang merepresentasikan kondisi perekonomian negara melambat atau memburuk, yakni negatifnya Produk Domestik Bruto (PDB), pengangguran meningkat, kenaikan harga kebutuhan sehari-hari, dan sebagainya. Prediksi tersebut tentunya menjadi ancaman bagi Indonesia yang akan ikut terdampak pada berbagai sektor yang diakibatkan oleh meningkatnya suku bunga acuan hampir 4 persen [(Detik.com)](https://www.detik.com/edu/detikpedia/d-6331427/apa-yang-terjadi-saat-resesi-2023-begini-risiko-dan-penyebabnya) sehingga bunga kredit yang ditanggung oleh pelaku bisnis meningkat. Hal ini dapat berdampak pada melemahnya nilai mata uang lokal terhadap mata uang asing. Menurut Kementerian Pariwisata dan Ekonomi Kreatif (Kemenparekraf) Sandiaga Uno, menyampaikan bahwa ketidakpastian situasi ekonomi tersebut dapat diantisipasi. Salah satu langkah antisipasi adalah dengan bertopang pada UMKM. 

Usaha Mikro Kecil dan Menengah (UMKM) merupakan usaha produktif milik perorangan dan atau badan usaha perorangan yang memenuhi kriteria kekayaan bersih maksimal 50 juta, tidak termasuk tanah dan bangunan. 
kenapa umkm bisa antisipasi(peran)

**Problem Statement**

Media pendukung pengambilan keputusan dalam menjaga pertumbuhan ekonomi daerah melalui optimalisasi UMKM daerah Jawa Barat berdasarkan potensi hasil bumi suatu wilayah dan digitalisasi.

**Goals**
  
Kemudahan pengambilan kebijakan stakeholder mengembangkan sektor unggulan potensi wilayah untuk penciptaan/pengembangan UMKM, untuk menciptakan daya saing produk di tingkat nasional/internasional serta citra daerah dalam upaya memasarkan daerah, melalui penyajian data hasil analisis dan prediksi secara ringkas pada dashboard.

**Analytic Approach**

Memvisualisasikan data untuk menganalisis persebaran data serta mengimplementasi model clustering machine learning serta

**Metric**

### Pembuatan Dataset

In [18]:
# Menggabungkan beberapa Data Hasil Bumi per Tahun 2020
nama_file = ('01. Telur ayam buras.csv','02. Telur puyuh.csv', '03. Telur ayam petelur.csv', '04. Aren.csv','05. Susu Sapi.csv','06. Pandan.csv','07. Pinang.csv','08. Pala.csv','09. Kopi Robusta.csv','10. Kopi Arabika.csv','11. Kina.csv','12. Kelapa Hibrida.csv', '13. Kayu Manis.csv', '14. Ikan Tuna.csv', '15. Sapi Potong.csv', '16. Kelapa Sawit.csv', '17. Lada.csv', '18. Daging Kerbau.csv', '19. Daging Ayam Buras.csv', '20. Daging Domba.csv','21. Daging Ayam Petelur.csv', '22. Daging Ayam Pedaging.csv', '23. Daging Kelinci.csv','24. Daging Kambing.csv','25. Daging Itik Manila.csv', '26. Daging Itik.csv','27. Daging Sapi.csv', '28. Daging Puyuh.csv')

files = dict()
for i in nama_file: 
    df = pd.read_csv(i)
    files[i] = df
    files[i] = files[i][files[i]['tahun']==2020]
    files[i[4:-4]] = files[i]
    del files[i]

In [19]:
# Melihat List Kategori Hasil Bumi
files.keys()

dict_keys(['Telur ayam buras', 'Telur puyuh', 'Telur ayam petelur', 'Aren', 'Susu Sapi', 'Pandan', 'Pinang', 'Pala', 'Kopi Robusta', 'Kopi Arabika', 'Kina', 'Kelapa Hibrida', 'Kayu Manis', 'Ikan Tuna', 'Sapi Potong', 'Kelapa Sawit', 'Lada', 'Daging Kerbau', 'Daging Ayam Buras', 'Daging Domba', 'Daging Ayam Petelur', 'Daging Ayam Pedaging', 'Daging Kelinci', 'Daging Kambing', 'Daging Itik Manila', 'Daging Itik', 'Daging Sapi', 'Daging Puyuh'])

In [20]:
# Melihat Contoh Data Hasil Bumi
files['Telur ayam buras'].head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_produksi,satuan,tahun
189,190,32,JAWA BARAT,3201,KABUPATEN BOGOR,4233,TON,2020
190,191,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,868,TON,2020
191,192,32,JAWA BARAT,3203,KABUPATEN CIANJUR,10406,TON,2020
192,193,32,JAWA BARAT,3204,KABUPATEN BANDUNG,4228,TON,2020
193,194,32,JAWA BARAT,3205,KABUPATEN GARUT,5494,TON,2020

In [21]:
# Data UMKM Jawa Barat berdasarkan Kabupaten/Kota
df = pd.read_csv('30. UMKM.csv')
df2 = pd.read_csv('31. UMKM Binaan.csv')
df = df[df['tahun']==2020]
df2 = df2[df2['tahun']==2020]
df2.rename(columns={'jenis_usaha' : 'kategori_usaha'}, inplace = True)
df = df[(df['kategori_usaha'] == 'MAKANAN') | (df['kategori_usaha'] == 'MINUMAN') | (df['kategori_usaha'] == 'KULINER')]
df2 = df2[(df2['kategori_usaha'] == 'MAKANAN') | (df2['kategori_usaha'] == 'MINUMAN') | (df2['kategori_usaha'] == 'KULINER')| (df2['kategori_usaha'] == 'AGRIBISNIS') | (df2['kategori_usaha'] == 'OBAT-OBATAN')]

In [22]:
# Melihat Data UMKM
display(df.head(),df2.head())

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,kategori_usaha,jumlah_umkm,satuan,tahun
816,817,32,JAWA BARAT,3201,KABUPATEN BOGOR,KULINER,170630,UNIT,2020
817,818,32,JAWA BARAT,3201,KABUPATEN BOGOR,MAKANAN,124801,UNIT,2020
818,819,32,JAWA BARAT,3201,KABUPATEN BOGOR,MINUMAN,23152,UNIT,2020
826,827,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,KULINER,122384,UNIT,2020
827,828,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,MAKANAN,89513,UNIT,2020

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,kategori_usaha,jumlah_umkm,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,AGRIBISNIS,11,UNIT,2020
11,12,32,JAWA BARAT,3201,KABUPATEN BOGOR,KULINER,52,UNIT,2020
12,13,32,JAWA BARAT,3201,KABUPATEN BOGOR,MAKANAN,104,UNIT,2020
13,14,32,JAWA BARAT,3201,KABUPATEN BOGOR,MINUMAN,14,UNIT,2020
14,15,32,JAWA BARAT,3201,KABUPATEN BOGOR,OBAT-OBATAN,0,UNIT,2020

In [23]:
# Penggabungan data UMKM
umkm = df.append(df2).reset_index(drop=True)
umkm = umkm.iloc[:,4:7]
dfpvt = pd.pivot_table(data=umkm,index = ['nama_kabupaten_kota'], columns=['kategori_usaha'])
dfpvt.columns = dfpvt.columns.droplevel(0)
Dataset = dfpvt.reset_index().rename_axis(None, axis=1)

In [24]:
# Penggabungan data UMKM dengan Hasil Bumi
judul = files.keys()
for i in judul:
    Dataset = pd.merge(Dataset, files[i].iloc[:,4:6], on =['nama_kabupaten_kota'])
    Dataset.rename(columns = {Dataset.columns[-1]: i}, inplace = True)

In [25]:
# Melihat Dataset Jumlah UMKM per kategori dan Jumlah Hasil Bumi
Dataset.head()

,nama_kabupaten_kota,AGRIBISNIS,KULINER,MAKANAN,MINUMAN,OBAT-OBATAN,Telur ayam buras,Telur puyuh,Telur ayam petelur,Aren,...,Daging Ayam Buras,Daging Domba,Daging Ayam Petelur,Daging Ayam Pedaging,Daging Kelinci,Daging Kambing,Daging Itik Manila,Daging Itik,Daging Sapi,Daging Puyuh
0,KABUPATEN BANDUNG,0.0,80386.0,58850.0,10910.0,0.0,4228,55,7319,548,...,2024,349,357,38397,26,13,28,247,7495847,6
1,KABUPATEN BEKASI,5.0,52591.0,38470.5,7136.0,0.0,352,0,2832,0,...,643,512,100,8763,0,282,0,184,1680492,0
2,KABUPATEN BOGOR,11.0,85341.0,62452.5,11583.0,0.0,4233,142,231900,685,...,2027,805,8280,170479,0,371,104,104,9908119,15
3,KABUPATEN CIAMIS,0.0,31817.5,23295.5,4317.0,0.0,3218,108,43209,329,...,1541,218,2107,23537,7,173,0,137,1219172,12
4,KABUPATEN CIANJUR,16.0,57063.0,41776.5,7752.0,4.0,10406,52,67298,18873,...,4983,751,3282,55239,20,72,0,617,2229888,6

In [26]:
# Melihat satuan Hasil Bumi
judul = files.keys()
a =[]
for i in judul:
    a.append([i, files[i]['satuan'].unique()])

dfDesc = pd.DataFrame(columns=['data','unique'],
                     data=a)
dfDesc

                    data      unique
0       Telur ayam buras       [TON]
1            Telur puyuh       [TON]
2     Telur ayam petelur       [TON]
3                   Aren       [TON]
4              Susu Sapi       [TON]
5                 Pandan       [TON]
6                 Pinang       [TON]
7                   Pala       [TON]
8           Kopi Robusta       [TON]
9           Kopi Arabika       [TON]
10                  Kina       [TON]
11        Kelapa Hibrida       [TON]
12            Kayu Manis       [TON]
13             Ikan Tuna       [TON]
14           Sapi Potong    [LEMBAR]
15          Kelapa Sawit       [TON]
16                  Lada       [TON]
17         Daging Kerbau       [TON]
18     Daging Ayam Buras       [TON]
19          Daging Domba       [TON]
20   Daging Ayam Petelur       [TON]
21  Daging Ayam Pedaging       [TON]
22        Daging Kelinci       [TON]
23        Daging Kambing       [TON]
24    Daging Itik Manila       [TON]
25           Daging Itik       [TON]
26           Daging Sapi  [KILOGRAM]
27          Daging Puyuh       [TON]

* **Menyetarakan Satuan menjadi TON**

In [27]:
# Melihat isi data Sapi Potong
Dataset['Sapi Potong']

0     28792
1         0
2         0
3      5239
4      8481
5     17062
6      3160
7      8979
8     12012
9      6571
10     9698
11     6001
12     5591
13        0
14     6711
15    34732
16     2750
17    12945
18        0
19     2180
20     2521
21    27825
22     6242
23    13693
Name: Sapi Potong, dtype: int64

In [28]:
# Mengubah Satuan Sapi Potong dari Lembar menjadi TON (1 Lembar -+ 20kg)
Dataset['Sapi Potong'] = Dataset.loc[:,'Sapi Potong'] * 20 / 1000    
Dataset['Sapi Potong']

0     575.84
1       0.00
2       0.00
3     104.78
4     169.62
5     341.24
6      63.20
7     179.58
8     240.24
9     131.42
10    193.96
11    120.02
12    111.82
13      0.00
14    134.22
15    694.64
16     55.00
17    258.90
18      0.00
19     43.60
20     50.42
21    556.50
22    124.84
23    273.86
Name: Sapi Potong, dtype: float64

In [29]:
# Melihat isi data Daging Sapi
Dataset['Daging Sapi']

0     7495847
1     1680492
2     9908119
3     1219172
4     2229888
5     4371888
6      731360
7     2117055
8     1242580
9     1562949
10    2272862
11    1537769
12    1272156
13    1876851
14    1561650
15    9002468
16     710283
17    3249839
18    4312524
19     507286
20     617544
21    7359351
22    1601432
23    3659518
Name: Daging Sapi, dtype: int64

In [30]:
# Mengubah satuan Daging Sapi dari kg menjadi TON
Dataset['Daging Sapi'] = Dataset.loc[:,'Daging Sapi']/ 1000    
Dataset['Daging Sapi']

0     7495.847
1     1680.492
2     9908.119
3     1219.172
4     2229.888
5     4371.888
6      731.360
7     2117.055
8     1242.580
9     1562.949
10    2272.862
11    1537.769
12    1272.156
13    1876.851
14    1561.650
15    9002.468
16     710.283
17    3249.839
18    4312.524
19     507.286
20     617.544
21    7359.351
22    1601.432
23    3659.518
Name: Daging Sapi, dtype: float64

In [31]:
# Melihat Dataset
Dataset

,nama_kabupaten_kota,AGRIBISNIS,KULINER,MAKANAN,MINUMAN,OBAT-OBATAN,Telur ayam buras,Telur puyuh,Telur ayam petelur,Aren,...,Daging Ayam Buras,Daging Domba,Daging Ayam Petelur,Daging Ayam Pedaging,Daging Kelinci,Daging Kambing,Daging Itik Manila,Daging Itik,Daging Sapi,Daging Puyuh
0,KABUPATEN BANDUNG,0.0,80386.0,58850.0,10910.0,0.0,4228,55,7319,548,...,2024,349,357,38397,26,13,28,247,7495.847,6
1,KABUPATEN BEKASI,5.0,52591.0,38470.5,7136.0,0.0,352,0,2832,0,...,643,512,100,8763,0,282,0,184,1680.492,0
2,KABUPATEN BOGOR,11.0,85341.0,62452.5,11583.0,0.0,4233,142,231900,685,...,2027,805,8280,170479,0,371,104,104,9908.119,15
3,KABUPATEN CIAMIS,0.0,31817.5,23295.5,4317.0,0.0,3218,108,43209,329,...,1541,218,2107,23537,7,173,0,137,1219.172,12
4,KABUPATEN CIANJUR,16.0,57063.0,41776.5,7752.0,4.0,10406,52,67298,18873,...,4983,751,3282,55239,20,72,0,617,2229.888,6
5,KABUPATEN CIREBON,14.0,57486.0,42086.0,7802.5,1.0,2901,50,1290,0,...,1389,1662,63,24903,4,78,141,455,4371.888,5
6,KABUPATEN GARUT,7.0,58970.5,43161.0,8002.5,0.0,5494,0,36311,16168,...,8731,31,4366,31142,0,327,0,44,731.360,0
7,KABUPATEN INDRAMAYU,8.0,43480.5,31812.5,5902.0,0.0,3999,29,991,0,...,1915,360,48,36687,2,165,507,1795,2117.055,3
8,KABUPATEN KARAWANG,1.0,53162.0,38907.5,7219.5,1.0,1184,3,1375,0,...,434,118,72,71539,0,18,0,1,1242.580,0
9,KABUPATEN KUNINGAN,1.0,21625.0,15818.5,2936.0,0.0,1133,251,28631,1440,...,542,1348,1396,26297,6,35,2,54,1562.949,27
10,KABUPATEN MAJALENGKA,10.0,35715.5,26142.5,4846.0,0.0,2253,0,7160,1078,...,1079,1745,349,23838,0,127,105,146,2272.862,0
11,KABUPATEN PURWAKARTA,18.0,19862.0,14523.5,2701.5,0.0,3200,0,16427,1308,...,1532,14730,801,66991,0,204,0,969,1537.769,0
12,KABUPATEN SUBANG,9.0,38637.5,28278.5,5244.0,1.0,3553,18,1271,120,...,1533,1678,36,58905,6,158,29,447,1272.156,2
13,KABUPATEN SUKABUMI,11.0,61213.0,44795.0,8307.5,0.0,868,301,62252,5609,...,901,1835,1610,46698,0,28,74,62,1876.851,6
14,KABUPATEN SUMEDANG,3.0,26481.5,19361.0,3587.5,0.0,1315,17,10366,1386,...,629,175,505,20683,7,7,11,64,1561.650,2
15,KOTA BANDUNG,0.0,78338.5,57227.0,10617.5,1.0,75,0,34,0,...,36,438,2,1180,0,0,0,2,9002.468,0
16,KOTA BANJAR,2.0,5915.0,4326.5,804.5,1.0,69,24,701,129,...,71,10,34,5010,0,6,1,8,710.283,3
17,KOTA BEKASI,4.0,46200.0,33807.0,6272.0,0.0,276,0,1794,0,...,132,2915,87,2604,0,3325,0,15,3249.839,0
18,KOTA BOGOR,0.0,19657.0,14397.5,2670.0,0.0,175,2,82,0,...,84,92,4,1422,0,5,2,1,4312.524,0
19,KOTA CIMAHI,0.0,12973.0,9502.5,1756.5,1.0,32,1,0,0,...,15,267,0,303,0,0,1,2,507.286,0
20,KOTA CIREBON,1.0,9151.0,6766.5,1248.0,1.0,106,7,0,0,...,51,168,0,0,0,48,2,3,617.544,1
21,KOTA DEPOK,0.0,36990.0,27028.5,5012.5,0.0,49,0,2292,0,...,24,140,112,3607,0,172,0,23,7359.351,0
22,KOTA SUKABUMI,5.0,9109.0,6693.0,1239.0,0.0,153,87,6528,0,...,73,636,318,3828,0,39,0,4,1601.432,10
23,KOTA TASIKMALAYA,2.0,20746.0,15187.0,2817.0,2.0,1568,51,2599,15,...,675,20,69,3705,0,12,0,29,3659.518,6

In [32]:
# Export Dataset menjadi csv
Dataset.to_csv('Dataset UMKM dan Jumlah Hasil Bumi.csv')